<!DOCTYPE html>
<head>
    <title>Página de inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/home.css">

<style>
    #bienvenida{
          text-align: left;
          color:white;
          height: 40px; 
        }
        #content {
            flex-grow: 1; /* Permite que el contenido crezca para ocupar el espacio disponible */
        }
</style>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body>

    <header>

    </header>

    <section id="content">

        <h2 id="bienvenida">Bienvenido, <span id="usernamePlaceholder"></span></h2>

          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href="/recetas">Recetas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/usuarios">Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recetasFavoritas">Recetas favoritas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/publicarReceta">Publicar</a>
            </li>
          </ul>

        
        <div class="container-fluid mt-lg-4">
            <div class="row">
                <div class="col-md-12 text-center box-titulo">
                    <h2>Recetas y usuarios más populares!</h2>
                </div>
                <div class="col-md-12 row">
                    <div id="content-ultimas-recetas"></div>
                </div>
            </div>
        </div>        
          
    </section>

    <footer>      

        <p>ChefEnCasaⓇ - Todos los derechos reservados ~ 2023 Distribuidos ~</p>

    </footer>


    <script>
        (function (){
            const username = window.localStorage.getItem("username");
            const password = window.localStorage.getItem("password");
            if(!username||!password){
                window.location.replace("/");
            }
            const usernamePlaceholder = document.getElementById("usernamePlaceholder");
            usernamePlaceholder.textContent = username;
            
            fetch("/lastFiveMessageNovedades", {
                method: "GET",
                headers: { "Content-Type": "application/json" },
    
            }).then(function(res){
                return res.json();
            }).then(function(obj){
                const content = document.querySelector('#content-ultimas-recetas'); 
                let html = "<div class='container row'>";       
                    obj.forEach((element) => {

                        html += "<div class='col-md-4'><div class='card card-body position-relative'>"
                            html += "<p>"+element.username+"</p>"
                            html += "<h4 class='text-center'>"+element.title+"</h4>"
                        
                            if (element.url && element.url.url) {
                                // Verificar que 'element.url' y 'element.url.url' estén definidos antes de acceder
                                html += "<img src='"+element.url.url+"' alt='img-i' class='text-center imagen-receta'/>"
                            } else {
                                // Manejar el caso en que 'element.url' o 'element.url.url' no están definidos
                                html += "<p>URL no disponible</p>"
                            }
                            html += "</div></div>"
                    })
                    html += '</div>'
                content.innerHTML = html;
            }).catch(function(e){
                console.error(e);
            })
        })();

    </script>
</body>

</html>