<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/styles/index.css">
  <title>Chef en casa</title>

  <style>
    #miFormulario {
      text-align: center;
    }

    #email,
    #password {
      font-size: 20px;
    }

    #error {
      color: red;
    }
  </style>

  <script src="/Js/index.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</head>

<body>
  <img src="/public/chefencasa.jpg" width="100%" height="150" />
  <table class="tabla2" width="100%" height="800" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="
            background-image: url('https://www.cursosadistancia.com.ar/img/article/estudiar-cursos-en-gastronomia-en-argentina');
          ">
        <table class="tabla3" align="center" border="0">
          <tr>
            <td align="center">
              <br />
              <font face="Verdana, Geneva, sans-serif" color="black" size="4"><strong>¡Bienvenido!</strong><br />
                Por favor, inicie sesión
              </font>
            </td>
          </tr>
          <tr>
            <td align="center">
              <form>
                <table align="center" border="0" cellspacing="2" cellpadding="2">
                  <tr>
                    <td><label for="text">Usuario:</label></td>
                    <td>
                      <input type="text" name="username" id="email" required />
                    </td>
                  </tr>
                  <tr>
                    <td><label for="password">Contraseña:</label></td>
                    <td>
                      <input type="password" name="password" id="password" required />
                    </td>
                  </tr>
                  <tr>
                    <td id="error" colspan="3"></td>
                  </tr>
                  <tr>
                    <td colspan="2" align="center">
                      <br />
                      <input type="button" name="botones" value="Registrarse"
                        onclick="validation(this, 'register'); return false;" />
                      <input type="button" name="botones" value="Loguearse"
                        onclick="validation(this, 'logging'); return false;" />
                    </td>
                  </tr>
                </table>
                <br /><br />
              </form>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>