<!--Vista de publicar/editar receta-->
<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/publicarReceta.css">
  <title>Publicar receta</title>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <style>
    #bienvenida {
      text-align: left;
      color: white;
      height: 40px;
    }
  </style>
</head>

<body>

  <header>

  </header>

  <h2 id="bienvenida">Bienvenido, <span id="usernamePlaceholder"></span></h2>
  <table class="tabla2" align="center" border="0" cellspacing="0" cellpadding="0">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/home">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recetas">Recetas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuarios">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recetasFavoritas">Recetas favoritas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/publicarReceta/metodo_carga">Publicar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recetarios">Recetarios</a>
      </li>
    </ul>
    <tr>
      <td>
        <section>
          <font face="Verdana, Geneva, sans-serif" color="black" size="4">
            <h1 align="center">Publicar receta</h1>
          </font>

          <article>
            <form>
              <div class="form-group">
                <label for="titulo">Título:</label>
                <input type="text" name="title" class="form-control form-control-sm" />
              </div>

              <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea class="form-control form-control-sm" placeholder="Escriba aquí la descripción de su receta.."
                  name="description"></textarea>
              </div>
              <div class="form-group">
                <label for="fotos">URL Imágenes:</label>
                <input type="text" name="pictures" class="form-control form-control-sm" />
              </div>
              <div class="form-group mt-1">
                <div class="row">
                  <div class="col-sm-5">
                    <label for="ingredientes">Ingrediente:</label>
                    <input class="form-control form-control-sm" placeholder="Ej: Sal" name="ingredients"
                      id="ingrediente" />
                  </div>
                  <div class="col-sm-5">
                    <label for="ingredientes">Cantidad:</label>
                    <input class="form-control form-control-sm" placeholder="Ej: 200 grms" name="cantidad"
                      id="cantidad" />
                  </div>
                  <div class="col-sm-2 d-flex justify-content-center align-items-center">
                    <button class="btn btn-light btn-sm mt-4" onclick="agregarIngrediente()" type="button">
                      +
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div id="listadoIngredientes"></div>
              </div>
              <div class="form-group">
                <label>Categoría:</label>
                <input type="radio" name="name_category" value="postre" class="form-check-input" />
                Postre <br />
                <!--value es lo que recibe el back-->
                <input type="radio" name="name_category" value="reposteria" class="form-check-input" />
                Repostería <br />
                <input type="radio" name="name_category" value="bebidas" class="form-check-input" />
                Bebidas<br />
                <input type="radio" name="name_category" value="regional" class="form-check-input" />
                Regional<br />
                <input type="radio" name="name_category" value="veganas" class="form-check-input" />
                Veganas<br /><br />
              </div>

              <div class="form-group">
                <label for="pasos">Pasos:</label>
                <textarea class="form-control form-control-sm" placeholder="Escriba aquí los pasos de su receta.."
                  name="steps"></textarea>
              </div>

              <div class="form-group">
                <label for="tiempo">Tiempo(min):</label>
                <input id="tiempo" type="text" name="time_minutes" placeholder="Solo números (minutos)"
                  class="form-control form-control-sm" />
              </div>

              <div id="error" style="color: red;"></div>

              <!-- <input type="submit" value="Publicar" /> -->
              <input class="btn btn-primary btn-registrar" type="button" name="botones" value="PublicarReceta"
                onclick="postRecipe(this, 'postRecipe'); return false;" />

            </form>
          </article>
        </section>
      </td>
    </tr>
  </table>
  <script src="/Js/publicarReceta.js"></script>
</body>

</html>