<!DOCTYPE html>
<head>
    <title>Página de inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/styles/recetasFavoritas.css">

    <style>

        #content {
            flex-grow: 1; /* Permite que el contenido crezca para ocupar el espacio disponible */
        }
      
        #bienvenida{
            text-align: left;
            color:white;
            height: 40px; 
        }

        #all_favs {
            margin-bottom: 30px; /* Agrega espacio entre el contenedor y las cards */
        }

    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body>

    <header>

    </header>

    <section id="content">

        <h2 id="bienvenida">Bienvenido, <span id="usernamePlaceholder"></span></h2>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/home">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recetas">Recetas</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/usuarios">Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/publicarReceta">Publicar</a>
            </li>
        </ul>

        
        <div class="container-fluid mt-lg-4">
            <div class="row">
                <div class="col-md-12 text-center box-titulo" id="all_favs">
                    <h2>Recetas favoritas</h2>
                </div>
                <div class="col-md-12 row">
                    <div id="content-receta"></div>
                </div>
            </div>
        </div>        
          
    </section>

    <footer>      

        <p>ChefEnCasaⓇ - Todos los derechos reservados ~ 2023 Distribuidos ~</p>

    </footer>

    <script src="/Js/recetasFavoritas.js"></script>

</body>

</html>