header{
    width: 100%;
    height: 160px;
    background-image: url("../public/chefencasa.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
}

body{
    background-image: url('https://www.cursosadistancia.com.ar/img/article/estudiar-cursos-en-gastronomia-en-argentina');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(5px);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima de la ventana gráfica */
    margin: 0;
    padding: 0;
}

footer{
    text-align: left;
    color:white;
    background-color:black; 
    height: 40px;       
}



.box-titulo{
    
    color: rgb(202, 69, 69);
    font-style: oblique;
    border: 1px solid #cf3333;
    background-color: rgba(248, 248, 248, 0.8);
}

.menuUsuario{
    margin: auto;
    width: 500px;/*ancho del sombreado*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
}

.nav li a{
    border: 1px solid #e05555; /*anchura, estilo y color borde*/
    background-color: #cccccc; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    padding: 10px 15px; /*espacio alrededor texto*/
    display: block;
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
}

.nav > li{
    float: left;
}

.nav li a:hover{
    background-color: #434343;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
}

ul{
    list-style: none;
}

.filtros{
    text-align: left;
    color:rgb(0, 0, 0);
    background-color:rgb(218, 217, 217);
    display: inline-block;
}

.recetarioPostres{
    text-align: center;
    color:black;
    background-color: rgba(206, 159, 148, 0.80);
 } 

 .botonRecetaPostres{
    border: 1px solid #ff9900; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #cfb88b; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/ 
}

 .recetarioReposteria{
    text-align: center;
    color:black;
    background-color: rgba(202, 174, 235, 0.8);
 } 

 .botonRecetaReposteria{
    border: 1px solid #ae00ff; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #e6a7ff; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/ 
}

 .recetarioBebida{
    text-align: center;
    color:black;
    background-color: rgba(125, 168, 248, 0.8);
 } 

 .botonRecetaBebida{
    border: 1px solid #262af5; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #5cbeff; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/ 
}

.recetarioRegionales{
    text-align: center;
    color:black;
    background-color: rgba(158, 150, 135, 0.8);
 } 

 .botonRecetaRegional{
    border: 1px solid #414244; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #a7b1b8; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/ 
}

.recetarioVegetariano{
    text-align: center;
    color:black;
    background-color: rgba(192, 248, 204, 0.8);
 } 

 .botonRecetaVegana{
    border: 1px solid #21e62b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #74a37a; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/ 
}

.imagen-receta{
    width: 300px;
    height: 300px; 
}


